
.wrapperFifth{
    width: 100vw;
    height: 50vh;
    transition: all ease-in;
}

.div1{
    line-height: 1rem;
    margin: 0 auto;
}

.h5{
    margin-bottom: 2rem;
}
.footer{
    margin-top: 4rem;
    font-size: 1rem;
    text-align: center;
    color: grey;
}

@media only screen and (max-width: 798px) {
    .div1{
        /* background-color: green; */
        /* width: 80vw; */
        /* justify-content: flex-start; */
        /* margin: 0rem 3rem !important; */
        /* padding: 0 2rem; */
        gap: 0 !important;
    }
    .div1 div{
        margin-right: 1rem;
    }
    
    .logo small{
        font-size: .6rem !important;
    }
    .div1 div p{
        margin: 1rem 0 !important;
        font-size: 1rem !important;
    }
    .logo {
        margin-left: .5rem;
    }
}
@media only screen and (max-width: 576px) {
        .wrapperFifth{
            height: 100vh;
        }
        .div1{
            text-align: center;
            flex-direction: column;
            justify-content: center !important;
            align-items: center; 
        }
        .logo div h3{line-height: 1rem;}
        
}